* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./../media/background_page.jpg");
}

/* Classes */

.btn-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.desc-homepage {
    font-size: 50px;
    color: white;
    text-align: center;
}

.desc-homepage-container {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

@media (min-width: 800px) {
    .card {
        margin: 10px;
        flex-direction: row;
    }

    .card-img-top {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 800px) {
    .card-img-top {
        width: 100%;
        height: auto;
    }
}

.card h5 {
    font-size: 30px;
    font-style: italic;
}

/* IDs */

#h1-homepage {
    font-size: 70px;
    color: white;
    text-align: center;
}

#page-nb {
    font-size: 30px;
    color: white;
    font-style: italic;
}

#prev-btn, #next-btn {
    font-size: 30px;
}

#wiki-logo {
    width: 75px;
    height: auto;
}